/* body */

body > form {
  padding-top: 2%;
  padding-bottom: 2%;
}

.hotel_name {
  font-size: 30px;
  margin-left: 5%;
  font-weight: bold;
  color: #2e2e2e;
}

.hotel_pics {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.partie_ambany {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 4%;
  margin-top: 2%;
  margin-bottom: 5%;
}

.desc {
  width: 66%;
  font-size: 19px;
}

hr {
  margin-top: 2%;
  margin-bottom: 3%;
}

.date_sejour {
  background-color: #f8f8ff8a;
  width: 30%;
  border-radius: 15px;
  box-shadow: 1px 2px 15px 1px #00000030;
  padding-top: 20px;
}

.price {
  font-size: 27px;
  font-weight: bold;
  margin-top: 2%;
  margin-left: 5%;
}

.choix_date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
  font-size: 25px;
  margin-top: 2%;
}

.choix_date input {
  width: 100%;
  height: 33px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #d3d3d3f5;
  outline: none;
}

.button_date_sejour {
  background-color: rgb(15, 123, 255);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.button_date_sejour input {
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.date_sejour > .button_supprimer,
.date_sejour > .button_modifier {
  width: 90%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 8px;
}

.date_sejour > .button_supprimer {
  background-color: rgb(255, 70, 70);
  transition: 0.3s;
  margin-bottom: 5%;
}

.date_sejour > .button_supprimer input,
.date_sejour > .button_modifier input {
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
}

.date_sejour > .button_modifier {
  background-color: rgb(15, 123, 255);
  transition: 0.3s;
}

.date_sejour > .button_supprimer:hover {
  background-color: rgb(211, 57, 57);
}

.date_sejour > .button_modifier:hover {
  background-color: rgb(10, 93, 196);
}

.clone-body {
  position: fixed;
  top: 0%;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
}

.form {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.clone-body.active {
  z-index: 1;
  background-color: rgba(41, 41, 41, 0.534);
}

.form.active {
  display: flex;
  z-index: 2;
}

.form > form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  border-radius: 15px;
  padding-top: 3%;
  width: 35%;
  box-shadow: 0 2px 20px rgb(0 0 0 / 60%);
}

.form > form > input,
.form > form > select {
  outline: none;
  height: 40px;
  border-radius: 20px;
  width: 80%;
  font-size: 12px;
  border: 1px solid rgb(182, 182, 182);
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.form > form > .btnSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  width: 100%;
  height: 50px;
  background-color: rgb(15, 123, 255);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.form > form input[type="submit"] {
  border-radius: 20px;
  height: 40px;
  background-color: transparent;
  color: white;
  font-size: 25px;
  border: none;
  text-align: center;
  cursor: pointer;
}
