/************container*************/
.container {
  padding-top: 50px;
}
.box {
  position: relative;
  width: 260px;
  height: 235px;
  background: black;
  box-shadow: 0 2px 20px rgba(131, 131, 131, 0.393);
  border-radius: 15px;
}

.imgbx {
  width: 100%;
  height: 100%;
}
.imgbx img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 15px;
  filter: brightness(0.9);
}

.content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 44px;
  background: #bfbfbf5e;
  text-shadow: 3px 1px 3px #505050;
  color: white;
  transition: 0.5s;
  backdrop-filter: blur(3px);
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 15px;
}
.box:hover .imgbx img {
  filter: brightness(0.5);
}
.box:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  border-radius: 15px;
}

.col-md-3 {
  margin-bottom: 50px;
}

h4 {
  position: relative;
  top: -10px;
}
